<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ffmpeg_ytdlp_gui.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ffmpeg_ytdlp_gui.Properties.Settings>
            <setting name="cq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="acodec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deInterlace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bitrate" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="resize" serializeAs="String">
                <value>Num</value>
            </setting>
            <setting name="resizeTo" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="prefix" serializeAs="String">
                <value />
            </setting>
            <setting name="suffix" serializeAs="String">
                <value />
            </setting>
            <setting name="ab" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="lookAhead" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="OutputWindowWidth" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="OutputWindowHeight" serializeAs="String">
                <value>600</value>
            </setting>
            <setting name="free" serializeAs="String">
                <value />
            </setting>
            <setting name="videoWidth" serializeAs="String">
                <value>3840</value>
            </setting>
            <setting name="videoHeight" serializeAs="String">
                <value>2160</value>
            </setting>
            <setting name="fps" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="openStderr" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="overwrite" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="cookiePath" serializeAs="String">
                <value />
            </setting>
            <setting name="tileRows" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tileColumns" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="imageWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imageHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="downloadCompleted" serializeAs="String">
                <value>True</value>
            </setting>
        </ffmpeg_ytdlp_gui.Properties.Settings>
    </userSettings>
</configuration>