<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ffmpeg_command_builder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <ffmpeg_command_builder.Properties.Settings>
            <setting name="cq" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="acodec" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="deInterlace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bitrate" serializeAs="String">
                <value>6000</value>
            </setting>
            <setting name="resizeNone" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="resizeFullHD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resizeHD" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resizeNum" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="resize" serializeAs="String">
                <value>320</value>
            </setting>
            <setting name="prefix" serializeAs="String">
                <value />
            </setting>
            <setting name="suffix" serializeAs="String">
                <value />
            </setting>
            <setting name="ab" serializeAs="String">
                <value>192</value>
            </setting>
            <setting name="lookAhead" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="HelpWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HelpHeight" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="free" serializeAs="String">
                <value />
            </setting>
            <setting name="videoWidth" serializeAs="String">
                <value>3840</value>
            </setting>
            <setting name="videoHeight" serializeAs="String">
                <value>2160</value>
            </setting>
            <setting name="fps" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="openStderr" serializeAs="String">
                <value>False</value>
            </setting>
        </ffmpeg_command_builder.Properties.Settings>
    </userSettings>
</configuration>